page-regis {
#regis{
    
    background-image: url('../assets/img/bg.jpg') ;
    
  .button{
    
    background: rgba(0, 62, 124, 0.86);
    width: 80%;
    border-radius: 5px;
    margin-left: 9%;
}


h1{
    margin-top:10px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center
 }
    
}






.list{
    margin-top:5%;
}

.item{
    margin-bottom:15px;
    background: rgb(255, 255, 255);
    border:medium none;   
    border-radius: 5px;
    width: 80%;
    margin-left: 9%;


}
}