page-content {
    #content{
        
        background-color:rgb(221, 230, 240);
        
            .item{
                margin-bottom:15px;
                border-radius: 5px;
                margin-left: 50%; 
                position: relative;
                transform: translate(-50%,-50%);
                
               // background-color: transparent;
                width:96%
              
            }
            ion-list{
              margin-top: 15%;
            }
            
            .button{
              //background: rgba(2, 131, 206, 0.795);
              background: rgba(0, 62, 124, 0.86);
              border-radius: 5px;
              width: 90%;
              margin-left: 6%;
        
   
    }
    .img-circle{
        
        width: 100px;
        height: 100px;
        
        overflow: hidden;
        margin-top: -8%;
        border-radius: 10%;
       /// box-shadow: -6px 15px 81px 3px gray;
       // border: 3px solid rgb(198, 234, 255);
        position: relative;
        transform: translate(-50%,-50%);
        
        left:20%;
} 
#name{
    background-color: transparent;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 16%;
    margin-bottom:-50%;
    color: #505050;
}
img{
    margin-left: 14%;

}
ion-label{
    color: #505050;
}
}
}
