<ion-header>
    
        <ion-navbar color="danger">
          
           <ion-buttons  start>
              <button ion-button  (click)="search()">
                <h2>
            <ion-icon name="search" ></ion-icon>
                </h2>
              </button>
            </ion-buttons>
            
            <ion-title>รายการเดินทาง</ion-title>

              <ion-buttons end >
                <button ion-button  (click)="detail()">
                  <h4>
              <ion-icon name="add" ></ion-icon>
                  </h4>
                </button>
              </ion-buttons>
            
          </ion-navbar>
            
          
    
    </ion-header>

<ion-content padding id="bg">

 
 
 <!-- <ion-item>
     <button 
        class="add"
        ion-button 
        item-right
        icon-right
        margin-bottom
        color="primary"
        (click)="addEntry()">
           Add a technology
           <ion-icon name="add"></ion-icon>
     </button>
  </ion-item>


  <ion-item *ngFor="let item of items">
     <h2>{{ item.name }} </h2>
     <button 
        ion-button 
        color="primary" 
        item-right
        (click)="viewEntry({ record: item })">View</button>
  </ion-item>
-->
      
     <!-- <ion-item noline>
      <ion-row>
        
          <ion-col col-6>
            
              <ion-card *ngFor="let item of items">
                  <img src="../assets/img/pic.jpg" >
                  
                 
                  <div class="card-title">{{ item.name }}</div>
                  <div class="card-subtitle">41 Listings</div>
              </ion-card>

          </ion-col>
         

        
          
      </ion-row>

      </ion-item>

    -->

   <div padding id="search">
       
  
        <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ต้นทาง..."><ion-icon name="pin" item-start></ion-icon></ion-searchbar>
      
    
        <ion-searchbar (ionInput)="getItemss($event)" [debounce]="500" placeholder="ปลายทาง..."></ion-searchbar>
   
  
        <ion-searchbar   (ionInput)="getItemsss($event)" displayFormat="YYYY MMM DD" [debounce]="500" placeholder="วันที่..."></ion-searchbar>
   
</div>
<div padding id="list">
      <ion-row style="margin-top:10%;">
          <ion-col col-6 *ngFor="let item of items">
                
              <ion-item no-line (click)="viewEntry({ record: item })">

                  <img src="../assets/img/user.png"  >
                  
                  
                  
                    
                  
                  <p><ion-icon name="pin" item-start></ion-icon>{{ item.startt }}</p>
                  
                  
                  <p><ion-icon name="flag" item-start></ion-icon>{{ item.endd }}</p>
                  <p><ion-icon name="calendar" item-start></ion-icon>{{ item.dated }}</p>
                  <p><ion-icon name="clock" item-start></ion-icon>{{ item.timed }} น.</p>
              </ion-item>
          </ion-col>
        
      </ion-row>
</div>

      





      
     






</ion-content>