page-home {
    
#home{
    text-align:center;
    background-image: url('../assets/img/bg.jpg') ;
    

   h1{
    margin-top:70px;
    font-size: 45px;
    color: rgb(255, 255, 255);
 }

ion-list{
    margin-top:60px;
}

    .button{
        margin-top:30px;  
        color: rgb(255, 255, 255);
        background: rgba(0, 62, 124, 0.86);
        border-radius: 5px;
        width:90%;
        margin-left: 4%;
    }

    .item{
        margin-bottom:10px;
        background: rgb(255, 255, 255);
        border:medium none; 
        border-radius: 5px;
        width:90%;
        margin-left: 4%;
        
    }
    a{
        color: rgb(255, 255, 255);
        margin-right:5px;
        font-size: 20px;
        margin-top: 10px;

    }
    .list{
u{
    color: rgba(0, 62, 124, 0.86);
    
}


    }
}


}
