page-detail {
  #detail{

    background-color:rgb(221, 230, 240);

    .item{
      margin-bottom:15px;
      border-radius: 5px;
      margin-left: 50%; 
      position: relative;
      transform: translate(-50%,-50%);
      
     // background-color: transparent;
      width:94%
     
      
    }
    ion-list{
      margin-top: 15%;
    }
    
    .button{
      //background: rgba(2, 131, 206, 0.795);
      background: rgba(0, 62, 124, 0.86);
      border-radius: 5px;
      width: 90%;
      margin-left: 6%;

    }
    ion-label{
      color: #505050;
  }
}
}
